{% extends "JackDeckKeeperBundle::layout.html.twig" %}

{% block content %}
    {% for set in sets %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 text-center">
                                <a class="story-img" href="#">
                                    <img src="//placehold.it/100" style="width:100px;height:100px" class="img-circle">
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9">
                                <h3>{{ set.name }}</h3>
                                <div class="row">
                                    <div class="col-xs-9">
                                        <p>Cards: {{ set.cards.count }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
