<ul class="nav navbar-nav">
    <li>
        <a href="{{ path('frontend_deck_keeper_index') }}">Cards</a>
    </li>
    <li>
        <a href="{{ path('frontend_deck_keeper_cardset_index') }}">Sets</a>
    </li>
</ul>
